* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wave {
  background-image: url(img/wave.svg);
  background-size: cover;
  opacity: 0.2;
  height: 30px;
}
.reverse {
  transform: rotate(3.142rad);
}
.bar2 > a {
  text-decoration: none;
  margin-right: 40px;
  color: white;
}

body {
  font-family: sans-serif;
  padding: 5px;
}

header {
  height: 1000px;
  margin-bottom: 15px;
  margin: auto;
}
.bg-lightblue {
  background-color: rgb(37, 94, 233);
}
.navbar {
  height: 80px;
  width: 780px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar1 {
  padding-left: 0px;
  flex-basis: 15%;
  color: white;
  margin-left: -120px;
}
.bar2 {
  text-align: center;
  color: white;
}
.bar3 {
  text-align: right;
  background-color: rgb(252, 251, 251);
  color: rgb(67, 124, 194);
  margin-right: -120px;
  border-radius: 30px;
  padding: 10px;
}
body {
  background-color: white;
}

.jumbo {
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  text-align: center;
  color: white;
}
.bg-jumbo {
  background-image: url(img/jumbo.png);
  background-size: cover;
}
h1 {
  font-weight: 900;
}

p {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 15px;
}
.pinksquare {
  background-color: transparent;
  width: 620px;
  height: 300px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstbutton {
  background-color: rgb(181, 202, 236);
  padding: 20px;
  color: rgb(30, 38, 38);
  margin-right: 40px;
  border-radius: 30px;
}
.secondbutton {
  background-color: rgb(30, 38, 38);
  padding: 20px;
  color: white;
  border-radius: 30px;
}
.flex-grey {
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  margin-right: 300px;
}
.container-flex1 {
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-flex {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  margin-right: 300px;
  gap: 30px 20px;
}
.left-column1 {
  flex-basis: 66%;
  background-color: white;
  min-height: 300px;
  background-image: url(img/item1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-column1 * {
  color: rgb(10, 10, 45);
}
.right-column1 {
  flex-basis: 34%;
  background-color: none;
  min-height: 300px;
  margin-left: 30px;
}
.left-column2 {
  flex-basis: 40%;
  max-height: 300px;
  background-color: none;
}
.left-column3 {
  flex-basis: 66%;
  background-color: white;
  min-height: 300px;
  background-image: url(img/item3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.right-column2 {
  flex-basis: 60%;

  min-height: 300px;
  background-image: url(img/item2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

h3 {
  margin-top: 20px;
  margin-left: 50px;
  padding-right: 60px;
  text-align: left;
}
.bluetext {
  margin-left: 50px;
}

.left-column {
  flex-basis: 66%;
  background-color: white;
  min-height: 300px;
  background-image: url(img/item1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.right-column {
  flex-basis: 34%;
  background-color: none;
  min-height: 300px;
}
.bg-grey {
  background-color: rgb(209, 207, 207);
}
.wrapper.bg-grey {
    padding-bottom: 101px;
    padding-top: 10px;
}
.bg-blue {
  background-color: blue;
}
.bg-white {
  background-color: white;
  margin-bottom: 20px;
}
.greensquare {
  margin-left: 300px;
  margin-right: 300px;
  height: 600px;
}
h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
.videoaudio {
  text-align: center;
  margin-bottom: -25px;
}
.big {
  background-image: url(img/item4-big.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}
.stars {
  background-image: url(img/stars.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  font-weight: 25px;
  color: #0c0e41;
  margin-bottom: 15px;
}
.titleviolet {
  font-size: 25px;
  font-weight: bold;
  color: rgb(120, 95, 179);
}
.italialist {
  color: white;
  padding-top: 10px;
}
.icons {
    color: white;
    padding-top: 10px;
}
.endingwrap {
  padding-top: 100px;
  background-color: rgb(55, 53, 53);
}
.columns:first-child {
  color: rgb(85, 27, 220);
}
.columns {
  flex-basis: 16.5%;
  min-height: 30px;
  display: flex;
  color: rgb(70, 97, 220);
  font-size: large;
}
.aqualine {
  margin-left: 300px;
  margin-right: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 5px;
}

.bottone {
    background-color: rgb(96, 122, 182);
    padding: 11px;
    color: rgb(250, 250, 250);
    border-radius: 20px;
    height: 45px;
    width: 85px;
    
    text-align: center;
}
.mac {
  background-color: rgb(96, 122, 182);
  padding: 5px;
  color: rgb(250, 250, 250);
  border-radius: 20px;
  height: 30px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.wrapper.bg-darkgrey1 {
    background-color: rgb(55, 53, 53);
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
li{
    list-style-type: none;
    margin-top: 8px;
    color: white;
}
.purple{
    color: rgb(125, 85, 218);
}