*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar2 > a{
    text-decoration:none;
    margin-right: 40px;
    color: white;
}

body{
    font-family: sans-serif;
    padding: 5px;
}

header{
    height: 1000px;
    margin-bottom: 15px;
    margin: auto;
}
.bg-lightblue{
    background-color: rgb(67, 124, 194);
}
.navbar{
    height: 80px;
    width: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar1{
    padding-left: 0px;
    flex-basis: 15%;
    color: white;
    margin-left: -120px;
    
   
}
.bar2{
    text-align: center;
    color: white;
}
.bar3{
 
    text-align: right;
    background-color: rgb(252, 251, 251);
    color: rgb(67, 124, 194);
    margin-right: -120px;
    border-radius: 30px;
    padding: 10px;

}
body{
    background-color: white;
}


.container-flex1{
    max-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.container-flex{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
}
.left-column{
flex-basis: 66% ;
background-color: rgb(46, 76, 228);
min-height: 300px;

}
.right-column{
    flex-basis: 34% ;
    background-color: rgb(227, 83, 218);
    min-height: 300px;
}
.jumbo{
    margin-left: 300px;
    margin-right: 300px;
    padding: 30px;
    text-align: center;
    color: white;
    
    
}
.bg-jumbo{
    background-image: url(img/jumbo.png);
    background-size: cover;
    
} 
h1{
    font-weight: 900;
}

p{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 15px;
}
.pinksquare{
    background-color: transparent;
    width: 620px;
    height: 300px;
   
    
    
    
}
.flex-grey{
    height: 500px;
    background-color: rgb(77, 80, 79);
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;

}
.bg-grey{
    background-color: grey;


}
.bg-blue{
    background-color: blue;
}
.greensquare{
    background-color: green;
    margin-left: 300px;
    margin-right: 300px;
    height: 600px;

}
.wrapper{
    padding: 20px 0;
}
.bg-darkgrey{
    background-color: rgb(30, 38, 38);
}
.columns{
    background-color: rgb(99, 226, 246);
    flex-basis: 16.5%;
    min-height: 30px;
    border: dashed rgb(248, 246, 246);
}
.aqualine{
    background-color: rgb(71, 206, 109);
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    .logo{
        border: dashed  rgb(14, 13, 13);
        background-color: pink;
        padding: 5px;
    }

    .bottone{
        border: dashed rgb(14, 13, 13);
        background-color: pink;
        padding: 5px;
    }
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstbutton{
    background-color: white;
    padding: 20px;
    color:  rgb(30, 38, 38);
    margin-right: 40px;
    border-radius: 30px;
}
.secondbutton{
    background-color: rgb(30, 38, 38);
    padding: 20px;
    color: white;
    border-radius: 30px;
}